@import './fonts';
@import './variables/global';
@import './themes/light';
@import './themes/dark';

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font: var(--font-m);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

h5 {
  font: var(--h5);
}