@import './fonts';
@import './reset';
@import './variables/global';
@import './themes/light';
@import './themes/dark';

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font: var(--font-m);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}



* {
  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}