*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

// Убираем ненужные марджины
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

// у всех заголовков тот же размер и жирность что и у обычного текста
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// у списки убраны отступы и маркировка
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// убираем косяки с выравниванием этих элементов
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

// стандартные стили для графических тегов
img,
video {
  max-width: 100%;
  height: auto;
}

// обнуление для форм
input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
  padding: 0;
}