:root {
  // TYPOGRAPHY
  --font-family-main: 'Inter', arial, system-ui, sans-serif;
  --font-family-heading: 'Poppins', arial, system-ui, sans-serif;

  // Font XS
  --font-size-xs: 12px;
  --font-line-xs: 20px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

  // Font S
  --font-size-s: 14px;
  --font-line-s: 24px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  // Font M
  --font-size-m: 16px;
  --font-line-m: 26px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  // Font L
  --font-size-l: 18px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // H1
  --h1-size: 72px;
  --h1-line: 76px;
  --h1: var(--h1-size) / var(--h1-line) var(--font-family-heading);

  // H2
  --h2-size: 40px;
  --h2-line: 44px;
  --h2: var(--h2-size) / var(--h2-line) var(--font-family-heading);

  // H3
  --h3-size: 34px;
  --h3-line: 38px;
  --h3: var(--h3-size) / var(--h3-line) var(--font-family-heading);

  // H4
  --h4-size: 28px;
  --h4-line: 34px;
  --h4: var(--h4-size) / var(--h4-line) var(--font-family-heading);

  // H5
  --h5-size: 20px;
  --h5-line: 28px;
  --h5: var(--h5-size) / var(--h5-line) var(--font-family-heading);


  // COLORS

  --white-color: #f9f9f9;
  --black-color: #141718;
  --gray-color: #f3f5f7;
  --text-gray-color: #6c7275;
  --text-gray-bold-color: #343839;
  --green-color: #38cb89;
  --blue-color: #377DFF;

  // z - indexes
  --z-index-modal: 10;
}