:root {
  // TYPOGRAPHY
  --font-family-main: 'Inter', Arial, system-ui, sans-serif;
  --font-family-heading: 'Poppins', Arial, system-ui, sans-serif;

  --font-size-xs: 12px;
  --font-line-xs: 20px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

  --font-size-s: 14px;
  --font-line-s: 24px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 16px;
  --font-line-m: 26px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --h1-size: 72px;
  --h1-line: 76px;
  --h1: var(--h1-size) / var(--h1-line) var(--font-family-heading);

  --h2-size: 40px;
  --h2-line: 44px;
  --h2: var(--h2-size) / var(--h2-line) var(--font-family-heading);

  --h3-size: 34px;
  --h3-line: 38px;
  --h3: var(--h3-size) / var(--h3-line) var(--font-family-heading);

  --h4-size: 28px;
  --h4-line: 34px;
  --h4: var(--h4-size) / var(--h4-line) var(--font-family-heading);

  --h5-size: 20px;
  --h5-line: 28px;
  --h5: var(--h5-size) / var(--h5-line) var(--font-family-heading);


  // COLORS

  --light-white-color: #fff;
  --light-gray-color: #f1f5f9;
  --light-black-color: #0f172a;
  --light-text-color: #475569;

  --dark-blue-color: #1e293b;
  --dark-color: #0f172a;
  --dark-white-color: #f1ffff;
  --dark-highlight-color: #334155;
  --dark-text-color: #b6c0cd;


  --blue-color: #6794dc;
  --red-color: #ef4444;
}