:root {
  // TYPOGRAPHY
  --font-family-main: 'DM Sans', Arial, system-ui, sans-serif;

  --font-size-s: 12px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 14px;
  --font-line-m: 22px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 16px;
  --font-line-l: normal;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --h1-size: 33px;
  --h1-line: 43px;
  --h1: var(--h1-size) / var(--h1-line) var(--font-family-main);

  --h2-size: 26px;
  --h2-line: 35px;
  --h2: var(--h2-size) / var(--h2-line) var(--font-family-main);

  --h3-size: 20px;
  --h3-line: 26px;
  --h3: var(--h3-size) / var(--h3-line) var(--font-family-main);

  --h4-size: 20px;
  --h4-line: 26px;
  --h4: var(--h4-size) / var(--h4-line) var(--font-family-main);

  --h5-size: 16px;
  --h5-line: 27px;
  --h5: var(--h5-size) / var(--h5-line) var(--font-family-main);


  // COLORS

  --accent-color: #a18a68;  
  --white-color: #fff;
  --black-color: #000;
  --light-gray-color: #707070;
  --gray-color: #d8d8d8;
  --dark-gray-color: #efefef;

  --error-color: #d82700;
}