.root {
  &.error {
    &>* {
      color: var(--title-color-error);
    }
  }

  &.primary {
    &>* {
      color: var(--title-color-primary);
    }
  }

  &.form {
    &>* {
      color: var(--title-color-form);
    }
  }

  & h1 {
    font: var(--h1);
  }

  & h2 {
    font: var(--h2);
  }

  & h3 {
    font: var(--h3);
  }

  & h4 {
    font: var(--h4);
  }

  & h5 {
    font: var(--h5);
  }
}