[data-theme='dark'] {
  --bg-color: var(--black-color);
  --text-color: var(--text-gray-color);
  --text-color-bold: var(--white-color);
  --heading-color: var(--white-color);
  --spinner-color: var(--white-color);

  // Buttons
  --button-bg: var(--white-color);
  --button-border: var(--white-color);
  --button-text: var(--black-color);
  --button-outline-border: var(--white-color);
  --button-outline-bg: var(--black-color);
  --button-outline-text: var(--white-color);

  // UserButton
    --user-button-stroke: var(--white-color);
}