[data-theme='light'] {
  --bg-color: var(--white-color);
  --text-color: var(--text-gray-color);
  --text-color-bold: var(--text-gray-bold-color);
  --heading-color: var(--black-color);

  --button-bg: var(--black-color);
  --button-border: var(--black-color);
  --button-text: var(--white-color);

  --button-outline-border: var(--black-color);
  --button-outline-bg: var(--white-color);
  --button-outline-text: var(--black-color);
}