.root {
  cursor: pointer;
}

.clear {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: var(--font-l);
  color: var(--text-color);
}

.outline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: 1px solid var(--button-outline-border);
  background-color: var(--button-outline-bg);
  color: var(--button-outline-text);
  border-radius: 8px;
}

.filled {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: 1px solid var(--button-border);
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: 8px;
}

.modal-filled {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: none;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 8px;
}

.wide {
  flex-grow: 1;
}

.disabled {
  opacity: 0.5;
}