
.root {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-modal);
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(38 38 38 / 70%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.content {
  padding: 48px;
  background-color: var(--white-color);
  border-radius: 25px;
  margin: 15px;
  max-width: 924px;

}